# Environment variables & secrets (NEVER COMMIT)
.env

# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# IDE & System
.vscode/
.idea/
.DS_Store
desktop.ini

.vercel
.env*
